#ghost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: url('dev/cabeson2.gif');
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  